openapi: 3.1.0
info:
  title: Golioth Management Access Secrets API
  version: '1.0'
  description: 'Golioth IoT Device Management REST API. Authenticate with project-scoped API keys passed in the x-api-key header. Upstream OpenAPI: https://api.golioth.io/openapi.json'
servers:
- url: https://api.golioth.io
security:
- API Key: []
  Bearer: []
tags:
- name: Secrets
paths:
  /v1/organizations/{organizationId}/projects/{projectId}/secrets:
    get:
      operationId: Secrets_List
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: type
        schema:
          default: PIPELINE
          enum:
          - PIPELINE
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothListSecretsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Secrets
    post:
      operationId: Secrets_Create
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/goliothSecretsCreateBody'
        required: true
        x-originalParamName: body
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothCreateSecretResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Secrets
  /v1/organizations/{organizationId}/projects/{projectId}/secrets/{name}:
    delete:
      operationId: Secrets_Delete
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: string
      - in: query
        name: type
        schema:
          default: PIPELINE
          enum:
          - PIPELINE
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothDeleteSecretResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Secrets
    get:
      operationId: Secrets_Get
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: string
      - in: query
        name: type
        schema:
          default: PIPELINE
          enum:
          - PIPELINE
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothGetSecretResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Secrets
components:
  schemas:
    goliothSecretsCreateBody:
      properties:
        name:
          type: string
        secret:
          type: string
        type:
          $ref: '#/components/schemas/goliothSecretType'
      type: object
    protobufAny:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    goliothSecret:
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/goliothSecretType'
      type: object
    goliothSecretType:
      default: PIPELINE
      enum:
      - PIPELINE
      type: string
    goliothGetSecretResponse:
      properties:
        data:
          $ref: '#/components/schemas/goliothSecret'
      type: object
    goliothListSecretsResponse:
      properties:
        list:
          items:
            $ref: '#/components/schemas/goliothSecret'
          type: array
      type: object
    goliothCreateSecretResponse:
      properties:
        data:
          $ref: '#/components/schemas/goliothSecret'
      type: object
    goliothDeleteSecretResponse:
      type: object
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
  securitySchemes:
    API Key:
      in: header
      name: x-api-key
      type: apiKey
    Bearer:
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: golioth API
  url: https://docs.golioth.io
