openapi: 3.2.0
info:
  title: Golioth Management Light DB API
  version: '1.0'
  description: 'Golioth IoT Device Management REST API. Authenticate with project-scoped API keys passed in the x-api-key header. Upstream OpenAPI: https://api.golioth.io/openapi.json'
servers:
- url: https://api.golioth.io
security:
- API Key: []
  Bearer: []
tags:
- name: LightDB
paths:
  /v1/projects/{projectId}/devices/{deviceId}/data/{path}:
    delete:
      operationId: DeviceState_Delete
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothDeleteDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state delete
      x-summary-source: derived
    get:
      operationId: DeviceState_Get
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothGetDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state get
      x-summary-source: derived
    patch:
      operationId: DeviceState_Update2
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
        x-originalParamName: value
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothUpdateDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state update2
      x-summary-source: derived
    post:
      operationId: DeviceState_Update3
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
        x-originalParamName: value
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothUpdateDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state update3
      x-summary-source: derived
    put:
      operationId: DeviceState_Update
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
        x-originalParamName: value
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothUpdateDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state update
      x-summary-source: derived
  /v1/projects/{projectId}/devicesByTag/{tag}/data/{path}:
    delete:
      operationId: DeviceState_DeleteByTag
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: tag
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothDeleteDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state delete by tag
      x-summary-source: derived
    patch:
      operationId: DeviceState_UpdateByTag2
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: tag
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
        x-originalParamName: value
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothUpdateDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state update by tag2
      x-summary-source: derived
    post:
      operationId: DeviceState_UpdateByTag3
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: tag
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
        x-originalParamName: value
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothUpdateDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state update by tag3
      x-summary-source: derived
    put:
      operationId: DeviceState_UpdateByTag
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: tag
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
        x-originalParamName: value
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothUpdateDeviceStateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - LightDB
      summary: Device state update by tag
      x-summary-source: derived
components:
  schemas:
    goliothUpdateDeviceStateResponse:
      properties:
        data: {}
      type: object
    protobufAny:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    goliothGetDeviceStateResponse:
      properties:
        data: {}
      type: object
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
    goliothDeleteDeviceStateResponse:
      type: object
  securitySchemes:
    API_Key:
      in: header
      name: x-api-key
      type: apiKey
    Bearer:
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: golioth API
  url: https://docs.golioth.io
