openapi: 3.1.0
info:
  title: Golioth Management Access Remote Procedure Call API
  version: '1.0'
  description: 'Golioth IoT Device Management REST API. Authenticate with project-scoped API keys passed in the x-api-key header. Upstream OpenAPI: https://api.golioth.io/openapi.json'
servers:
- url: https://api.golioth.io
security:
- API Key: []
  Bearer: []
tags:
- name: Remote Procedure Call
paths:
  /v1/projects/{projectId}/devices/{deviceId}/rpc:
    post:
      operationId: DeviceRemoteProcedureCall_RemoteProcedureCall
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRemoteProcedureCallRemoteProcedureCallBody'
        required: true
        x-originalParamName: body
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothRemoteProcedureCallResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Remote Procedure Call
components:
  schemas:
    DeviceRemoteProcedureCallRemoteProcedureCallBody:
      properties:
        method:
          type: string
        params:
          items: {}
          type: array
        timeout:
          format: int64
          type: integer
      type: object
    protobufAny:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
    goliothRemoteProcedureCallResponse:
      properties:
        detail: {}
        statusCode:
          format: int64
          type: integer
      type: object
  securitySchemes:
    API Key:
      in: header
      name: x-api-key
      type: apiKey
    Bearer:
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: golioth API
  url: https://docs.golioth.io
