openapi: 3.2.0
info:
  title: Golioth Management Packages API
  version: '1.0'
  description: 'Golioth IoT Device Management REST API. Authenticate with project-scoped API keys passed in the x-api-key header. Upstream OpenAPI: https://api.golioth.io/openapi.json'
servers:
- url: https://api.golioth.io
security:
- API Key: []
  Bearer: []
tags:
- name: Packages
paths:
  /v1/organizations/{organizationId}/projects/{projectId}/packages:
    get:
      operationId: Packages_List
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: page
        schema:
          format: int64
          type: integer
      - in: query
        name: perPage
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothListPackageResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Packages
      summary: Packages list
      x-summary-source: derived
    post:
      operationId: Packages_Create
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/goliothPackagesCreateBody'
        required: true
        x-originalParamName: body
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothCreatePackageResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Packages
      summary: Packages create
      x-summary-source: derived
  /v1/organizations/{organizationId}/projects/{projectId}/packages/{packageId}:
    delete:
      operationId: Packages_Delete
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: packageId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothDeletePackageResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Packages
      summary: Packages delete
      x-summary-source: derived
    get:
      operationId: Packages_Get
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: packageId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothGetPackageResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Packages
      summary: Packages get
      x-summary-source: derived
    put:
      operationId: Packages_Update
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: path
        name: projectId
        required: true
        schema:
          type: string
      - in: path
        name: packageId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/goliothPackageUpdate'
        required: true
        x-originalParamName: update
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/goliothUpdatePackageResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Packages
      summary: Packages update
      x-summary-source: derived
components:
  schemas:
    goliothPackage:
      properties:
        createdAt:
          format: date-time
          type: string
        description:
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
        packageId:
          type: string
        updatedAt:
          format: date-time
          type: string
      type: object
    protobufAny:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    goliothListPackageResponse:
      properties:
        list:
          items:
            $ref: '#/components/schemas/goliothPackage'
          type: array
        page:
          format: int64
          type: integer
        perPage:
          format: int64
          type: integer
        total:
          format: int64
          type: integer
      type: object
    goliothCreatePackageResponse:
      properties:
        data:
          $ref: '#/components/schemas/goliothPackage'
      type: object
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
    goliothDeletePackageResponse:
      type: object
    goliothPackageUpdate:
      properties:
        description:
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
      type: object
    goliothGetPackageResponse:
      properties:
        data:
          $ref: '#/components/schemas/goliothPackage'
      type: object
    goliothPackagesCreateBody:
      properties:
        description:
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
        packageId:
          type: string
      type: object
    goliothUpdatePackageResponse:
      properties:
        data:
          $ref: '#/components/schemas/goliothPackage'
      type: object
  securitySchemes:
    API_Key:
      in: header
      name: x-api-key
      type: apiKey
    Bearer:
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: golioth API
  url: https://docs.golioth.io
